.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-container button {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    font-size: var(--fs-icon-l);
    transition: opacity 0.3s ease-in-out;
}
.carousel-btn-prev {
    left: 0.1em;
}
.carousel-btn-next {
    right: 0.1em;
}

.carousel-btn-next.disabled,
.carousel-btn-prev.disabled {
    opacity: 0;
    pointer-events: none;
}

.carousel-btn-prev:hover,
.carousel-btn-next:hover {
    background-color: hsla(var(--clr-olive-hue), var(--clr-olive-sat), var(--clr-olive-lit), 0.5);
    border-radius: 0.2em;
}

.carousel-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in;
}

.carousel-child.prev {
    transform: translateX(-100%);
}
.carousel-child.active {
    transform: translateX(0%);
}
.carousel-child.next {
    transform: translateX(100%);
}
