/*-------------------
-------CSS Vars------
-------------------*/

:root {
    /* Colours */
    --clr-white-hue: 50;
    --clr-white-sat: 21%;
    --clr-white-lit: 95%;

    --clr-silver-hue: 28;
    --clr-silver-sat: 7%;
    --clr-silver-lit: 70%;

    --clr-olive-hue: 34;
    --clr-olive-sat: 6%;
    --clr-olive-lit: 24%;

    --clr-black-hue: 40;
    --clr-black-sat: 10%;
    --clr-black-lit: 12%;

    --clr-brown-hue: 25;
    --clr-brown-sat: 9%;
    --clr-brown-lit: 25%;

    --clr-orange-hue: 17;
    --clr-orange-sat: 83%;
    --clr-orange-lit: 54%;

    --clr-green-hue: 60;
    --clr-green-sat: 30%;
    --clr-green-lit: 40%;

    --clr-lightgreen-hue: 52;
    --clr-lightgreen-sat: 30%;
    --clr-lightgreen-lit: 75%;

    /* Fonts */
    --fs-header: 3rem;
    --fs-xl: 2rem;
    --fs-l: 1.4rem;
    --fs-m: 1.2rem;
    --fs-s: 1rem;
    --fs-xs: 0.8rem;
    --fs-icon: 2rem;
    --fs-icon-l: 2.5rem;
    --fs-icon-xl: 3rem;

    --ff-header: 'Abril Fatface', cursive;
    --ff-body: 'Vollkorn', serif;
}

/* Reset All Elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* TEMP OUTLINE FOR DEVELOPEMNT BLOCKING */
    /* outline: 0.1em solid red; */
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(var(--clr-brown-hue), var(--clr-brown-sat), var(--clr-brown-lit));
    /* overflow: hidden; */
}

.icon-btn {
    font-size: var(--fs-icon);
    background-color: transparent;
    border: none;
    color: hsl(var(--clr-orange-hue) var(--clr-orange-sat) var(--clr-orange-lit));
}

.icon-btn svg {
    display: block;
    margin: auto;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
