.progress-clock {
    /* width: 20rem; */
    /* height: 20rem; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.progress-clock svg {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    content: '';
    position: absolute;
}

.progress-clock span {
    content: '';
    position: absolute;
    font-size: var(--fs-header);
    font-family: var(--ff-body);
    font-weight: 700;
    color: hsl(var(--clr-silver-hue), var(--clr-silver-sat), var(--clr-silver-lit));
}

.progress-clock-background {
    stroke: hsl(var(--clr-olive-hue), var(--clr-olive-sat), var(--clr-olive-lit));
    fill: hsl(var(--clr-olive-hue), var(--clr-olive-sat), var(--clr-olive-lit));
}

.progress-clock-seconds.progress {
    stroke: hsl(var(--clr-green-hue), var(--clr-green-sat), var(--clr-green-lit));
    fill: none;
}

.progress-clock-seconds.background {
    stroke: hsl(var(--clr-lightgreen-hue), var(--clr-lightgreen-sat), var(--clr-lightgreen-lit));
    opacity: 0.8;
    fill: none;
}

.progress-clock-minutes.progress {
    stroke: hsl(var(--clr-orange-hue), var(--clr-orange-sat), var(--clr-orange-lit));
    fill: none;
}

.progress-clock-minutes.background {
    --clr-orange-lit: 80%;
    --clr-orange-sat: 80%;
    stroke: hsl(var(--clr-orange-hue), var(--clr-orange-sat), var(--clr-orange-lit));
    opacity: 0.8;
    fill: none;
}
