/* Main Container */
.phase-control {
    display: grid;
    grid-template-areas:
        'header header header'
        'decrement value increment'
        'slider slider slider';
    place-items: center;
}

.phase-control .label {
    grid-area: header;
    text-transform: capitalize;
    font-family: var(--ff-header);
    font-size: var(--fs-l);
    color: hsl(var(--clr-olive-hue), var(--clr-olive-sat), var(--clr-olive-lit));
}

.phase-control .decrement {
    grid-area: decrement;
}

.phase-control .value {
    grid-area: value;
    font-size: var(--fs-l);
    font-family: var(--ff-body);
    font-weight: 700;
    color: hsl(var(--clr-black-hue), var(--clr-olive-sat), var(--clr-black-lit));
}

.phase-control .increment {
    grid-area: increment;
}

.phase-control .slider {
    grid-area: slider;
}
