/* Main Container */
.phase-control {
    display: grid;
    grid-template-areas:
        'header header header'
        'decrement value increment'
        'slider slider slider';
    place-items: center;
}

.phase-control .label {
    grid-area: header;
    text-transform: capitalize;
    font-family: var(--ff-header);
    font-size: var(--fs-m);
    display: flex;
    justify-content: center;
    align-items: center;
}

.phase-control .decrement {
    grid-area: decrement;
}

.phase-control .value {
    grid-area: value;
    font-size: var(--fs-l);
    font-family: var(--ff-body);
    font-weight: 700;
}

.phase-control .label,
.phase-control .value {
    --clr-silver-lit: 80%;
    color: hsl(var(--clr-silver-hue), var(--clr-silver-sat), var(--clr-silver-lit));
}

.phase-control .increment {
    grid-area: increment;
}

.phase-control .slider {
    grid-area: slider;
    width: 95%;
}

@media only screen and (orientation: landscape) and (min-height: 30rem),
    (orientation: portrait) and (min-width: 30rem) {
    .phase-control .label {
        font-size: var(--fs-l);
    }

    .phase-control .icon-btn {
        font-size: var(--fs-icon-l);
    }

    .phase-control .value {
        font-size: var(--fs-xl);
    }
}
